*, *::before, *::after {
    box-sizing: border-box;
}

.poppins-thin {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: italic;
  }

  /* Structure */

 header {
    text-align: center;
    padding: 2%;
    max-width: 550px;
    margin: 0 auto;
 }

 .container {
    margin: 1.5rem auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-bottom: 2rem;
 }
 

 .card {
    width: 320px;
    height: 280px;
    padding: 1rem;
    text-align: left;
   flex: 0 1 auto;
    
 }

 #supervisor {
    box-shadow: 0 -8px 0 -4px #44D3D2, rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
 }

 #team {
    box-shadow: 0 -8px 0 -4px hsl(0, 78%, 62%), rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
 }
  
#karma {
    box-shadow: 0 -8px 0 -4px hsl(34, 97%, 64%), rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#calculator {
    box-shadow: 0 -8px 0 -4px hsl(212, 86%, 64%), rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

  /* Typography */

 .sub-head {
    font-size: 1.5rem;
    margin-bottom: 0;
    letter-spacing: 0.25px;
 }

 h1 {
    font-size: 1.5rem;
    margin-top: 0;
    letter-spacing: 0.25px;
 }

 h2 {
    margin-bottom: 0;
 }

 .card p {
    margin-top: 5px;
 }

 /* Images */

 .icon {
    float: right;
    padding: 1.5rem 1rem 0;
 }


 @media (min-width: 850px) {
    .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        align-items: center;
        grid-template-areas: 
        '. supe supe .'
        'team team karm karm'
        '. calc calc .';
        
    }

    #supervisor {
        grid-area: supe;
    }

    #team {
        grid-area: team;
        
    }

    #karma {
        grid-area: karm;
        
    }

    #calculator {
        grid-area: calc;
    }

    .card {
        width: 340px;
    }
 }

 @media (min-width: 1440px) {
    .container {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: 
        '.    .    team team .    .'
        'supe supe team team calc calc'
        'supe supe karm karm calc calc '
        '.    .    karm karm .    .';
    }

    .card {
        height: 265px;
        width: 375px;
    }
 }